/* This styles the whole page */
body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;

    background: linear-gradient(to right, #74b9ff, #a29bfe);
}
/* Container box */
.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 12px;

    width: 90%;
    max-width: 850px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);

    /* ADD THIS */
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

}

/* Title */
h1 {
    font-size: 28px;
    color: #1e3c72;
}

/* Status text */
p {
    font-size: 18px;
    margin: 20px 0;
}

/* Button */
button {
    padding: 12px 20px;
    font-size: 16px;

    border: none;
    border-radius: 8px;

    background-color: #ff4b2b;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: #ff1c00;
}

/* Image preview */
.preview-image {
    width: 100%;
    max-width: 850px;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
}

/* History page container */
.history-container {
    background: white;
    padding: 30px;
    border-radius: 12px;

    width: 95%;
    max-width: 1300px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: visible;
}



/* History table */
.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

/* Table cells */
.history-table th,
.history-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Table first row */
.history-table tr:first-child {
    background-color: #74b9ff;
    font-weight: bold;
}

/* Table hover */
.history-table tr:hover {
    background-color: #f1f7ff;
}

/* Table scroll area */
.table-scroll {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* History table */
.history-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

/* Keep table header visible */
.history-table tr:first-child {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #74b9ff;
    font-weight: bold;
}

/* System title row */
.system-title-row th {
    background-color: #1e3c72;
    color: white;
    font-size: 22px;
    padding: 18px;
    text-align: center;
}

/* Header row */
.history-table thead tr:nth-child(2) {
    background-color: #74b9ff;
    color: white;
    font-weight: bold;
}

/* Table headers */
.history-table th {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Chart box */
.chart-box {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}