<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>History - AI Safety Guardian</title>

  <!-- Load CSS -->
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="history-container">

  <!-- Page title -->
  <h1>Risk History</h1>

  <!-- Charts title -->
  <h2>Risk Dashboard</h2>

  <!-- Risk vs Safe chart -->
  <div id="riskChart" class="chart-box"></div>

  <!-- Average edge score chart -->
  <div id="averageChart" class="chart-box"></div>

  <!-- Risks by hour chart -->
  <div id="hourChart" class="chart-box"></div>

   <!-- Table scroll area -->
  <div class="table-scroll">
  <table class="history-table">

    {% for row in rows %}
      <tr>
        {% for col in row %}
          <td>{{ col }}</td>
        {% endfor %}
      </tr>
    {% endfor %}

  </table>
  </div>

  <br>

  <!-- Back button -->
  <a href="/"><button>Back Home</button></a>

</div>

  <!-- Load Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>


  <script>
  // Get chart data from Flask API
  fetch("/api/stats")
    .then(response => response.json())
    .then(data => {

      // Chart 1: Risk vs Safe
      const riskSafeData = [{
        labels: data.risk_safe.labels,
        values: data.risk_safe.values,
        type: "pie"
      }];

      const riskSafeLayout = {
        title: "Risk vs Safe",
        height: 400
      };

      Plotly.newPlot("riskChart", riskSafeData, riskSafeLayout);


      // Chart 2: Average Edge Score
      const averageData = [{
        x: ["Average Edge Score"],
        y: [data.average_edge_score],
        type: "bar"
      }];

      const averageLayout = {
        title: "Average Edge Score",
        height: 350,
        yaxis: {
          title: "Score (%)"
        }
      };

      Plotly.newPlot("averageChart", averageData, averageLayout);


      // Chart 3: Risks by Hour
      const hourData = [{
        x: data.risks_by_hour.hours,
        y: data.risks_by_hour.values,
        type: "bar"
      }];

      const hourLayout = {
        title: "Risks by Hour",
        height: 350,
        xaxis: {
          title: "Hour"
        },
        yaxis: {
          title: "Risk Count"
        }
      };

      Plotly.newPlot("hourChart", hourData, hourLayout);
    });
  </script>

</body>
</html>